[Unit]
Description=Tibber service

[Service]
Type=notify
ExecStart=/opt/tibber/tibberservice
WorkingDirectory=/opt/tibber

[Install]
WantedBy=multi-user.target
