[Unit]
Description=Tibber service

[Service]
Type=notify
ExecStart=/opt/tibber/tibberservice
WorkingDirectory=/opt/tibber
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
